<div class="article_container">
  <article>
    <h1>新着記事</h2>
    <section>
      <% @post.each do |post| %>
        <div class="article_position">
          <p><%= image_tag 'oritakei_sign.jpeg', class:"article_image" %></p>
          <ul class="article_ul">
            <li><%= link_to post.title, post_path(post.id),class: "form_link article_title" %></li>
            <li><%= strip_tags(post.content.to_s).gsub(/[\n]/,"").strip.truncate(60) %></li>
            <li>更新日時<%= post.updated_at.strftime('%Y/%m/%d %H:%M') %></li>
            <li>作成日時<%= post.created_at.strftime('%Y/%m/%d %H:%M') %></li>
            </li><%= link_to "編集", edit_post_path(post.id),class: "form_link" %>
            <%= link_to "削除", "/posts/#{post.id}", method: :delete,data: { confirm: 'Are you sure?' }, class: "form_link" %></li>
          </div>
        </ul>
      <% end %>
    </section>
  </article>
</div>