<div class="form_container">
  <div class="show_article">
    <p class="show_title show_text"><%= @post.title %><p>
    <ul class="show_time">
      <li>更新日時<%= @post.updated_at.strftime('%Y/%m/%d %H:%M') %></li>
      <li>作成日時<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></li>
    </ul>
    <p class="show_content show_text"><%= @post.content %></p>
  </div>

  <p><%= link_to "ホーム画面に戻る", root_path, class: "form_link" %></p>

</div>