<header>
  <div class="header_main">
    <h1 class="header_title">
    <%= link_to "My Blog", "/", class: "header_logo" %>
    </h1>
    <nav class="header_nav">
      <ul class="header_ul">
        <li><%= link_to "新規投稿", "/posts/new/#{@post}", class: "header_link" %></li>
        <li><%= link_to "自己紹介", "#", class: "header_link" %></li>
      </ul>
    </nav>
  </div>
  <div class="header_category">
    <nav class="header_nav">
      <ul class="header_ul category_ul">
        <li>
          <%= link_to "HTML", "/", class: "header_link category_link" %>
        </li>
        <li>
          <%= link_to "CSS", "/", class: "header_link category_link" %>
        </li>
        <li>
          <%= link_to "JavaScript", "/", class: "header_link category_link" %>
        </li>
        <li>
        <%= link_to "Ruby", "/", class: "header_link category_link" %>
        </li>
        <li>
        <%= link_to "Ruby on Rails", "/", class: "header_link category_link" %>
        </li>
      </ul>
    </nav>
  </div>
</header>